/* estilização do index */

/* seção do vídeo */
#secao-video{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr auto;
    grid-column-gap: 50px;
    grid-row-gap: 10px;
    align-items: center;
    justify-content: center;
}
#secao-video h2{
    padding: 20px 0;
    font-size: 2em;
    color: rgb(247,151,71);
    font-weight: bolder;
    line-height: 25px;
}


#botoes{
    display: flex;
    justify-content: center;
}

#download p{
    margin-left: 5px;
}

#botoes button{
    background-color: #ED7839;
    color: #fff;
    border-radius: 4px;
    padding: 3px 10px;
    height: 2.5em;
    margin-right: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#botao-favoritar{
    width: 2.5em;
}

#doi-box{
    height: 2em;
    border-radius: 50%;
}

#doi{
    background-color: white;
    color: #ED7839;
    border-radius: 50%;
}

#botoes-box>p{
    width: 100%;


    color: #ED7839;
    text-align: center;
    line-height: 24px;
    font-weight: 500;
}

/* parte do video e detalhes */

#detalhes{
    align-self: stretch;

    display: flex;
    flex-direction: column;

    border: 1px solid #ECECEC;
}

#painel-detalhes{
    background-color: rgb(247,151,71, 0.2);
}

#painel-detalhes h3{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    line-height: 25px;
    color: #4E4E4E;
    padding: 5px 0;
}

#apresentacao{
    overflow: scroll;
    
    padding: 0 10px;

    flex-grow: 1;
    display: flex;
    flex-direction: column;

}

#apresentacao>div{
    margin: 10px 0;
}

#apresentacao p{
    font-family: 'Quicksand', sans-serif;
    color: #5C5C5C;
    font-weight: 200;
    font-size: 12px;
    line-height: 140%;
}

#autores p{
    font-size: 1em;
}

/* video */

.video{
    width: 100%;
    height: 99%;
    align-self: start;
    border-radius: 3px;
}

#video-box{
    color: white;
    position: relative;
}

#overlay-video{
    position: absolute;
    background-color: rgba(141, 53, 6, 0.5);
    height: 100%;
    width: 100%;
    height: 99%;
    top: 0;
    border-radius: 3px;
}

#overlay-video img{
    opacity: 0;
}

#video-box p{
    color: white;
    font-weight: 900;
    position: absolute;
    width: 70%;
    line-height: 25px;    
}

#titulo-video{
    font-size: 24px;
    top: 5%;
    left: 10%;
}

#beatriz{
    bottom: 25%;
    font-size: 34px;
    left: 22%;
}

#universidade{
    bottom: 18%;
    left: 22%;
    font-size: 20px;
}

#imagem-box{
    position: absolute;
    bottom: 15%;
    left: 10%;
    width: 10%;
   
    border: 1px solid orange ;
    border-radius: 50%;

}

#video-box>div img{
    width: 100%;
    border-radius: 50%;
}

/* resumo */
#resumo{
    width: 100%;

    border: 1px solid #ECECEC;
}

#resumo-check{
    display: none;
}

#painel-resumo{
    width: 100%;
    background-color: rgb(247,151,71, 0.2);
}

#painel-resumo h3{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    line-height: 25px;
    color: #4E4E4E;
    padding: 5px 0;
}

#campo-de-resumo p{
    font-family: 'Quicksand', sans-serif;
    line-height: 23px;
    margin-bottom: 15px;
}

#campo-de-resumo{
    position: relative;
    height: 8em;
    overflow: hidden;
    padding: 15px;
}

/* ver mais/ ver menos */
#ver-mais , #ver-menos{
    position: absolute;
    bottom: 3px;
    right: 15px;
    color: rgb(247,151,71);
}


#ver-menos{
    display: none;
}

/* expandir/contrair resumo*/

#resumo-check:checked + #campo-de-resumo{
    overflow: visible;
    height: auto;
}

#resumo-check:checked + #campo-de-resumo>#ver-menos{
    display: inline;
}

#resumo-check:checked + #campo-de-resumo>#ver-mais{
    display: none;
}



/* seção discussões */

#discussoes{
    width: 100%;

    display: flex;
    flex-direction: column;

    border: 1px solid #ECECEC;
}

#discussoes h3{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    line-height: 25px;
    color: #4E4E4E;
    padding: 5px 0;
}

#painel-discussoes{
    width: 100%;
    background-color: rgb(247,151,71, 0.2);
}


/* compartilhe suas idéias card*/

#compartilhe-suas-ideias{
    display: flex;
    flex-direction: column;
    align-items: center;

    align-self: stretch;
    justify-self: center;

    padding: 10px 0;

}

#compartilhe-suas-ideias h4{
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    color: rgb(247,151,71);
}

#icones-dicussao{
    display: flex;
    align-items: center;
}

#icones-discussao img{
    height: 80px;
    width: 80px;
}

#compartilhe-suas-ideias p{
    line-height: 19px;
    text-align: center;
    color: #595959;

    width: 50%;
}

#criar-topico-box{

    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;

    border-top: 1px solid #E7E7E7;

    margin-top: 30px;
}


#criar-topico{
    top: -12px;
    left: 44%;
    position: absolute;

    display: flex;
    align-items: center;

     /* cor de fundo com gradiente */
     background-image: linear-gradient(to top, rgb(239,127,60), rgb(254,175,82));
    border: none;
    border-radius: 3px;
    padding: 5px 10px;

    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    line-height: 16px;
    color: white;
    font-weight: 700;
}

#mais p{
    color: white;
    font-weight: 500;
    font-size: 2.2em;
}

#mais{
    margin-right: 3px;
    
}

/* mudando de compartilhe sua ideia para mande sua pergunta */



#compartilhe-check{
    display: none;
}

#compartilhe-check:checked ~ #compartilhe-suas-ideias{
    display: none;
}

#compartilhe-check:checked + #mande-sua-pergunta{
    display: contents;
}


/* parte do chat */


#chat{
    padding: 0 20px;
}

.chat-card{
    padding: 20px 10px 10px 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-bottom: 15px;
}

.card-header{
    margin-bottom: 10px;
}

.card-header h4{
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    color: rgb(247,151,71);
}

.card-header p{
    font-family: 'Quicksand', sans-serif;
    color: #5C5C5C;
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
}

.card-body{
    margin-bottom: 10px;
}

.card-body p{
    font-family: 'Quicksand', sans-serif;
    line-height: 18px;
    color: #4D4D4D;
}

.card-footer{
    position: relative;
    display: flex;
    align-items: center;
    height: 22px;
}

.pontos-verticais{
    align-self: stretch;
}

.pontos-verticais img, .pontos-verticais a{
    height: 100%;
}
.favorite{
    display: flex;
    justify-content: center;
    background-color: #ED7839;
    color: white;
    padding: 1px 3px;
    border-radius: 3px;
    margin-left: 7px;
}

.favorite span{
    font-family: 'Material Icons';
}

.card-footer p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:  #757575;
    font-weight: 350;
    font-size: 14px;
    line-height: 19px;
    margin-left: 7px;
}





/* mande sua pergunta */

#mande-sua-pergunta{
    display: none;
}

#mande-sua-pergunta p{
    font-family: 'Quicksand', sans-serif;
    line-height: 18px;
    color: #5C5C5C;
    text-align: center;
}

#mande-sua-pergunta form{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    margin-bottom: 10px;
}

#mande-sua-pergunta label{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #ED7839;

}

#mande-sua-pergunta input{
    padding: 8px 0px 8px 16px;
    
    margin-bottom: 10px;
}


#mande-sua-pergunta input, #mande-sua-pergunta textarea{
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    font-family: 'Quicksand', sans-serif;
    line-height: 18px;
    color: #5C5C5C;
}

#enviar-box{
    background: #EAF1F2;
    border: 1px solid #CCCCCC;
    border-radius: 0px 0px 4px 4px;

    font-family: 'Awesome icons';

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#enviar-box label{
    color: white;

    width: 100%;

    border:none;
    background: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);
    border-radius: 0px 0px 4px 0px;

    padding: 5px 50px;
}

#enviar-botao{
    padding: 3px 0;
}

#enviar-icons{
    padding-left: 30px;
}

#enviar-icons i{
    margin-right: 30px;
}