/* slide menu */

#slide-menu{
    position: fixed;
    left: 0;
    min-height: 100vh;
    height: 100%;
    width: 220px;
}

#slide-bar{
    display: flex;
    flex-direction: column-reverse;
}

.check{
    display: none;
}

.check:checked + .menu-item{
    border-left: 4px solid rgb(247,151,71);
    background-color: rgb(247,151,71, 0.2);
}

.menu-item{
    padding-left: 15px;   
}

